body {
  background-color: #f7f8fb;
}

/* Add some padding to the top and bottom of the page */
.mainpage-row {
  margin: 10% calc(var(--ifm-spacing-horizontal) * -1);
}

/* Add some spacing between the text and buttons */
/*.row .col {
  margin: auto;
}*/

/* Style the buttons with rounded corners and a shadow effect */
/*.button {
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

!* Customize the primary button color *!
.button--primary {
  background-color: #8BC34A;
  color: #FFFFFF;
}

!* Customize the secondary button color *!
.button--secondary {
  background-color: #FFFFFF;
  color: #8BC34A;
  border: 2px solid #8BC34A;
}*/

/* Add some spacing between the buttons */
.button {
  margin-right: 20px;
}

/* Add a border and shadow effect to the image */
/*
.row .col:nth-child(2) img {
  border: 2px solid #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}*/
